

pre {
  font-family: Roboto;
}

 @font-face {
   font-family: dropify;
   src:
      url('/font/dropify.svg') format('embedded-opentype'),
      url('/font/dropify.eot') format('eot'),
      url('/font/dropify.woff') format('woff'),
      url('/font/dropify.ttf') format('truetype');
}

@import '{}/imports/ui/stylesheets/nav.less';
@import '{}/imports/ui/stylesheets/slider.less';
@import '{}/imports/ui/stylesheets/body.less';
@import '{}/imports/ui/stylesheets/mainnews.less';
