<template name="footer">
  <div class="footer">
    <footer class="page-footer">
      {{#if Template.subscriptionsReady}}
        {{> UI.dynamic template=foottemp data=footer}}
      {{/if}}
    </footer>
  </div>
</template>

<template name="footadd">
  {{#if feet}}
  {{#if ip}}
  <a class="btn-floating btn-large waves-effect waves-light red" id="foot" name="change"><i class="material-icons">replay</i></a>
  <div class="footercontainer">
    <div class="row">
      <div class="col l6 s12">
        <form class="name">
          <div class="input-field">
            <input value="{{foote 'name'}}" name="name" type="text" class="validate">
          </div>
        </form>
        <form class="detail">
          <div class="input-field">
            <input value="{{foote 'detail'}}" name="detail" type="text" class="validate">
          </div>
        </form>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li>
            <form class="location">
              <div class="input-field">
                <input value="{{foote 'location'}}" name="location" type="text" class="validate">
              </div>
            </form>
          </li>
          <hr>
          <li>
            <form class="tel">
              <div class="input-field">
                <h5>TEL: </h5>
                <input value="{{foote 'tel'}}" name="tel" type="text" class="validate">
              </div>
            </form>
          </li>
          <li>
            <form class="fax">
              <div class="input-field">
                <h5>FAX: </h5>
                <input value="{{foote 'fax'}}" name="fax" type="text" class="validate">
              </div>
            </form>
          </li>
          <li>
            <form class="email">
              <div class="input-field">
                <h5>EMAIL: </h5>
                <input value="{{foote 'email'}}" name="email" type="text" class="validate">
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <form name="copyright">
      <h5>저작권: </h5>
      <div class="input-field">
        <input value="{{foote 'copyright'}}" name="copyright" type="text" class="validate">
      </div>
    </form>
  </div>
  <div class="footer-copyright">
  </div>
  {{/if}}
  {{/if}}
</template>

<template name="foot">
  {{#if feet}}
  {{#if ip}}
  <a class="btn-floating btn-large waves-effect waves-light red" id="footchange" name="change"><i class="material-icons">add</i></a>
  {{/if}}
  <div class="footercontainer">
    <div class="row">
      <div class="col l4 offset-l1 s12">
        <h5>{{foote "name"}}</h5>
        <p class="black-text text-lighten-4">{{foote "detail"}}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="black-text text-lighten-3" href="#!">{{foote "location"}}</a></li>
          <hr>
          <li><a class="black-text text-lighten-3" href="tel:{{foote 'tel'}}">TEL: {{foote "tel"}}</a></li>
          <li><a class="black-text text-lighten-3" href="fax:{{foote 'fax'}}">FAX: {{foote "fax"}}</a></li>
          <li><a class="black-text text-lighten-3" href="email:{{foote 'email'}}">EMAIL: {{foote "email"}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text" style="float:right">
      {{foote 'copyright'}}
    </div>
  </div>
  {{/if}}
</template>
