<template name="jumbo">
  <div class="card jumbocard">
    <div class="card-image jumboimage">
      {{#if more}}
      {{#if jumbos}}
      {{#with jumbos}}
        {{> jumboimage}}
      {{/with}}
      {{else}}
        {{> jumboblank}}
      {{/if}}
      <span class="card-title jumbotitle"><div class="tagline2"><h2>{{title}}</h2></div></span>
      {{/if}}
    </div>
  </div>
</template>

<template name="jumboimage">
  <img width="100%" height="500px" src="/images/homepage.jpg"/>
</template>

<template name="jumboblank">
  <img width="100%" height="500px" src="/images/homepage.jpg"/>
</template>
