<template name="maingroup">
  <div class="row">
    <div class="card minre z-depth-2">
      <div class="minsg">
        <div class="row">
          <h3>{{_ "business"}}</h3>
          <div class="wrop">
            {{#each busi}}
              {{> workit}}
            {{/each}}
          </div>

          <h3>{{_ "center"}}</h3>
          <div class="wrop">
            {{#each center}}
              {{> workit}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="workit">
  <div class="workit col s12 m12 l6">
    <div class="groupwork">
      <a class="waves-effect waves-teal btn-flat" name="{{name}}">{{name}}</a>
    </div>
  </div>
</template>
