<template name="mainnews">
  {{> mainnews1}}
  {{> mainnews1}}
  {{> mainnews1}}
</template>

<template name="mainnews1">
  <div class="mainnews1">
    <div class="row cardtitle flow-text">
      <h2>소식</h2>
    </div>
    <div class="row newscard flow-text">
      <div class="col s12 m12 l10 offset-l1">
        <div class="col s12 m4 l4">
          <div class="newscardone z-depth-3">
            <i class="material-icons">insert_chart</i>
            <h3>hi</h3>
            <div class="divider"></div>
            <blockquote>this is the content ex</blockquote>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <i class="material-icons">insert_chart</i>
          <h3>hi</h3>
          <p>this is the content ex</p>
        </div>
        <div class="col s12 m4 l4">
          <i class="material-icons">insert_chart</i>
          <h3>hi</h3>
          <p>this is the content ex</p>
        </div>
      </div>
    </div>
  </div>
</template>
