<template name="maingroup">
  <div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2 minsg">
      <div class="row">
        <h3>{{_ "business"}}</h3>
        <hr>
        {{#each busi}}
          {{> workit}}
        {{/each}}

        <h3>{{_ "center"}}</h3>
        <hr>
        {{#each center}}
          {{> workit}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="workit">
  <div class="card workit col s12 m12 l6">
    <div class="card-content groupwork">
      <a class="waves-effect waves-teal btn-flat" style="font-weight:bold;font-size:2rem;" name="{{name}}">{{name}}</a>
      <hr>
      {{>grouptab type=_id}}
    </div>
  </div>
</template>
