<template name="mainnews">
  <div class="row hmm">
    <div class="why">
      <div class="col s6 minsw">
        <div class="card z-depth-2">
          <div class="card-content">
          {{> mainnews1}}
          </div>
        </div>
      </div>
      <div class="col s6 minsw">
        <div class="card z-depth-2">
          <div class="card-content">
          {{> mainnews2}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="mainnews1">
  <div class="mainnews1">
    <ul class="collection with-header">
        <li class="collection-header ma"><h4>{{_ "news"}}</h4></li>
        {{#each bbgun}}
          {{> newdetail}}
        {{/each}}
      </ul>
  </div>
</template>

<template name="mainnews2">
  <div class="mainnews1">
    <ul class="collection with-header">
        <li class="collection-header ma"><h4>{{_ "eventnews"}}</h4></li>
        {{#each bbgun}}
          {{> newdetail}}
        {{/each}}
      </ul>
  </div>
</template>

<template name="newdetail">
  <li class="collection-item row mi flow-text">
    <div class="boid">
      <blockquote>
        <div class="bi bim">
          {{title}}
        </div>
        <div class="bi bic">
          {{concat}}
        </div>
      </blockquote>

    </div>
  </li>
</template>
