<template name="nav" class="z-depth-1">
  {{> myNav}}
</template>

<template name="dropdownit">
  <ul id="{{_id}}" class="dropdown-content">
    {{#each menus _id}}
      {{> dropdownli}}
    {{/each}}
  </ul>
</template>

<template name="langdrop">
  <ul id="langdrop" class="dropdown-content">
    {{> langlink}}
  </ul>
</template>

<template name="langlink">
  <li>
    <a href="#" name="ko" class="tolink">
      한국어
    </a>
  </li>
  <li>
    <a href="#" name="en" class="tolink">
      English
    </a>
  </li>
</template>

<template name="dropdownli">
  <li>
    <a href="#" name="{{name}}" class="tolink">
      {{name}}
    </a>
  </li>
</template>

<template name="dropdownbt">
  <li><a class="dropdown-button topnav" data-activates="{{_id}}" href="#" name="{{name}}">{{name}}</a></li>
</template>

<template name="genbt">
  <li><a class="button gen-button topnav" href="#" name="{{name}}">{{name}}</a></li>
</template>

<template name="langbt">
  <li><a class="dropdown-button topnav" data-activates="langdrop" href="#" name="language">{{_ "lang"}}</a></li>
</template>

<template name="genbtm">
  <li><a class="tolink" style="font-weight: bold; margin-left:15px;" href="#" name="{{name}}">{{name}}</a></li>
</template>

<template name="myNav">
  <div class="navbar-fixed white-text">
    {{#each menus}}
      {{> dropdownit}}
    {{/each}}
    {{> langdrop}}
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">{{_ "ils"}}</a>
        <a href="#" data-activates="mobile-demo" id="button-collapse" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{#each menus}}
            {{#if types type}}
              {{> dropdownbt}}
            {{else}}
              {{> genbt}}
            {{/if}}
          {{/each}}
          {{> langbt}}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <ul class="collapsible" data-collapsible="accordion">
            {{#each menus}}
              {{#if types type}}
                <li>
                  {{> collapsiblemobile}}
                </li>
              {{else}}
                <li>
                  {{> genbtm}}
                </li>
              {{/if}}
              <hr>
            {{/each}}

            <li>
              {{> langmobile}}
            </li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
</template>

<template name="langmobile">
  <div class="collapsible-header"><a href="#" style="font-weight: bold">{{_ "lang"}}</a></div>
  <div class="collapsible-body">
    {{> langlink}}
  </div>
</template>

<template name="collapsiblemobile">
  <div class="collapsible-header"><a href="#" style="font-weight: bold">{{name}}</a></div>
  <div class="collapsible-body">
    {{#each menus _id}}
      {{> dropdownli}}
    {{/each}}
  </div>
</template>
