<template name="searchs">
  <div class="col s3 m2 l2 choosesearch search">
    {{> choosesearch}}
  </div>
  <div class="col s3 search">
    <form>
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input placeholder="{{_ "plzsearch"}}" id="search" type="text" class="validate">
      </div>
    </form>
  </div>
</template>

<template name="choosesearch">
  <form id="chosen">
    <div class="input-field">
      <select>
        <option value="title">{{_ "title"}}</option>
        <option value="content">{{_ "content"}}</option>
      </select>
      <label>{{_ "searchtype"}}</label>
    </div>
  </form>
</template>
