<template name="slider">
  <div class="slider pickgradient">
    <ul class="slides">
      <li>
        <img src="http://wallpapersonthe.net/wallpapers/b/1920x1080/1920x1080-world_sky_glass_buildings_building-1231.jpg"> <!-- random image -->
        <div class="caption left-align">
          <div class="tagline">
            <h3>hellow fellows!</h3>
          </div>
          <div class="tagcontent">
            <div class="light text-lighten-1">Here's our small slogan.1</div>
          </div>
        </div>
      </li>
      <li>
        <img src="http://www.shunvmall.com/data/out/38/47109610-building-wallpaper.jpg"> <!-- random image -->
        <div class="caption left-align">
          <div class="tagline">
            <h3>hellow fellows!</h3>
          </div>
          <div class="tagcontent">
            <div class="light text-lighten-1">Here's our small slogan.2</div>
          </div>
        </div>
      </li>
      <li>
        <img src="https://wallpaperscraft.com/image/barcelona_city_building_street_people_30791_1920x1080.jpg"> <!-- random image -->
        <div class="caption left-align">
          <div class="tagline">
            <h3>hellow fellows!</h3>
          </div>
          <div class="tagcontent">
            <div class="light text-lighten-1">Here's our small slogan.3</div>
          </div>
        </div>
      </li>
      <li>
        <img src="https://images7.alphacoders.com/473/thumb-1920-473664.jpg"> <!-- random image -->
        <div class="caption left-align">
          <div class="tagline">
            <h3>hellow fellows!</h3>
          </div>
          <div class="tagcontent">
            <div class="light text-lighten-1">Here's our small slogan.4</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="gradientoverlay">p</div>
</template>
