<template name="slider">
  <div class="slider pickgradient">
    <ul class="slides z-depth-2">
      {{#each dream}}
        {{> aslide}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="aslide">
  <li>
    <img width="100%" height="500px" src="{{url}}"/> <!-- random image -->
    <div class="caption left-align">
      <div class="tagline">
        <h3>{{title}}</h3>
      </div>
      <div class="tagcontent">
        <div class="light text-lighten-1">{{concatm}}</div>
      </div>
    </div>
  </li>
</template>

<template name="addslider">
  <div class="card">
    <div class="card-content row">
      <form class="sliderform">
        <fieldset>
          <div class="input-field col s6">
            <input id="input_text" type="text" length="10" name="name">
            <label for="input_text">제목</label>
          </div>
          <div class="input-field col s6">
            <input id="input_text2" type="text" length="10" name="name">
            <label for="input_text2">English title</label>
          </div>
          <div class="input-field col s12">
            <input id="input_text3" type="text" name="jobs">
            <label for="input_text3">내용</label>
          </div>
          <div class="input-field col s12">
            <input id="input_text4" type="text" name="jobs">
            <label for="input_text4">English Content</label>
          </div>
          <div class="input-field file-field col s12">
            <input type="file" class="dropify" name="thisfile" style="font-family: dropify" form="sliderform"/>
          </div>
          <button class="btn waves-effect waves-light col s12" type="button" name="action" id="submitone">올리기
            <i class="material-icons right">send</i>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</template>
