<template name="App_body">
  {{> myNav}}
      <div class="blue lighten-5">

        {{> tempmenu}}

        <div class="container">
          {{#if contentArray}}
            {{#each contentArray}}
              {{> contentshowit}}
            {{/each}}
          {{/if}}
          {{> Template.dynamic template=main}}
        </div>
        <!-- Your content goes here -->
      </div>
</template>

<template name="contentshowit">
  <li>{{titleinput}}</li>
  <li>{{detail}}</li>
</template>

<template name="myNav">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">연세대학교 법학연구원</a>
      <a href="#" data-activates="mobile-demo" id="button-collapse" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">학술지</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">학술지</a></li>
      </ul>
    </div>
  </nav>
</template>

<template name="tempmenu">
  <form class="">
    <input type="text" name="title">
  </form>
</template>
