<template name="App_body">
  {{> nav}}
      <div class="contentpage" id="contentpage">
        {{> Template.dynamic template=main}}
        <!-- Your content goes here -->
      </div>
  {{> footer}}
</template>

<template name="temp">
  {{#if contentArray}}
    {{#each contentArray}}
      {{> contentshowit}}
    {{/each}}
  {{/if}}
</template>

<template name="contentshowit">
  <li>{{titleinput}}</li>
  <li>{{detail}}</li>
</template>

<template name="tempmenu">
  <form class="">
    <input type="text" name="title">
  </form>
</template>

<template name="pushdown">
  <div style="display:block;height:120px">
  </div>
</template>
