.contentpage {
  background-color: #f2f2f2;
  position: static;
}

.section {
  padding-top: 0;
  padding-bottom: 5rem;
  margin: 0;
  position: static;
}

.parallax-container {
     height: 600px;
}

.helpmess {
  z-index: 1;
}

.parallax img {
  display: block;
}

a {
  color: black;
}

.section textarea {
  resize: none;
  height: 30rem;
}

.navbottom {
  margin: 10rem 0 10rem;
}
