.contentpage {
  background-color: @color-body;
  position: static;
}

.section {
  padding-top: 0;
  margin: 0;
  margin-bottom: 5rem;
  padding-bottom: 0;
  position: static;
}

.parallax-container {
     height: 600px;
}

.helpmess {
  z-index: 1;
}

.parallax img {
  display: block;
}

a {
  color: black;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.section textarea {
  resize: none;
  height: 30rem;
}

.navbottom {
  margin: 0;
  padding: 10rem 0 15rem;
}

.navbottom .row {
  margin: 0;
}

.menufab {

}
