.jumbotitle {
  margin:3rem;
  right:0;
}
.jumboimage {
  padding:0;
  margin:0;
}

.jumboimage img {
  object-fit: cover;
}
.jumbocard {
  padding:0;
  margin: 0;
}
.jumbotitle .tagline2 {
  padding: 5px;
  background-color: @tagline;
  padding-left: 3rem;
  padding-right: 3rem;
  opacity: 0.8;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
}

.jumbotitle .tagline2 h2 {
  font-size: 3rem;
}

.gradientoverlayj {
  z-index: 10;
  top: 0;
  position: absolute;
  height: 500px;
  width: 100%;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 21%, rgba(0,0,0,0) 63%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(21%, rgba(0,0,0,0)), color-stop(63%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 21%, rgba(0,0,0,0) 63%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 21%, rgba(0,0,0,0) 63%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 21%, rgba(0,0,0,0) 63%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 21%, rgba(0,0,0,0) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
