.newscard {
  text-align: center;
}

.cardtitle {
  margin-left: 12rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #283593;
}

.newscard .material-icons {
  font-size: 10rem;
  color: #3949ab;
}

.newscardone {
  background-color: #eeeeee;
  padding: 2rem;
}

.mainnews1 {
  padding-bottom: 7rem;
}
