.minsg .row .workit {
  margin: 5px;
  width: 100%;
  text-align: center;
}

.whats .col .row .card {
  background-color: @color-group;
}


.workit .groupwork .moreside .morecoll a {
  background-color: @color-group;
  color: black;
}

.minsg .row {
  font-weight: bold;
  font-size: 1rem;
}

.minsg .row h3{
  font-weight: bold;
  font-size: 2rem;
}

.workit .groupwork {
  padding: 0;
  background-color: @color-second;
  color: white;
}

.workit .groupwork a {
  width: 100%;
  color: white;
}

.minre {
  margin: 10px 30px 0 0;
  padding: 2rem 4rem 2rem;
  height: 500px;
  left: 20px;
  border-color: @color-second;
  border-style: solid;
}
