.minsg .row .workit {
  margin: 5px;
  width: 100%;
  text-align: center;
}

.workit .groupwork .moreside .morecoll a {
  background-color: white;
  color: black;
}

.minsg .row {
  font-weight: bold;
  font-size: 1rem;
}

.minsg .row h3{
  font-weight: bold;
  font-size: 2rem;
}

.workit .groupwork {
  padding: 0;
}

.workit .groupwork a {
  width: 100%;
}

.minre {
  margin: 10px 10px 0 0;
  padding: 2rem 4rem 2rem;
  height: 500px;
}
