nav {
    margin: 0 auto;
    opacity: 1;
    background-color: @menu-color;
    transition:opacity 0.3s;
    box-shadow: 0px 0px 0px #888888;
    font-family: yonseititle, sans-serif;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: @color-sub;
    color: @text-nav;
}

.langdiv .langbt a{
  color: @menu-color;
  font-weight: bold;
  right: 10px;

}

.langdiv .langbt {
  float: right;
  height: 100%;
}

#langdrop li a {
  color: @text-nav;
}

#langdrop {
  margin-top: 26px;
  left: -30px !important;
}

.langdiv {
  background-color: @top-back;
  margin: 0;
  padding: 5px;
  height: 30px;
}

nav .nav-wrapper ul a {
  color: @text-nav;
  font-weight: bold;
}

nav .nav-wrapper a i {
  color: @text-nav;
  font-weight: bold;
}


nav.opaque {
    opacity: 1;
    background-color: @menu-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo {
    font-size: 1.6rem;
}



nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
}

nav .nav-wrapper i {

}

.navbar-fixed {
  position: absolute;
}

.nav-wrapper .dropdown-button {
  font-size: 1.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-wrapper .dropdown-content {
  margin-top: 80px;
}

.nav-wrapper .gen-button {
  font-size: 1.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.hide-on-med-and-down {
  height: 40px;
}

@media only screen and (min-width: 993px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
        margin: 0 auto;
    }
    nav .brand-logo {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 4rem;
    }
}

@media only screen and (min-width: 1580px){
  .nav-wrapper .dropdown-button {
    font-size: 1.3rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .nav-wrapper .gen-button {
    font-size: 1.3rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.nav-wrapper .brand-logo {
  display:flex;
  align-items:center;
  font-weight: bold;
}

.brand-logo img {
}

.brand-logo .lt {
  margin-left: 15px;
  color: @text-nav;
}
