.apanel .bpanel .cpanel .card-action a{
  color: @menu-color;
}

.apanel {
  margin: 0;
}

.apanel .bpanel .cpanel {
  flex: 1;
  text-align: center;
}

.apanel .bpanel .cpanel .col {
  padding: 0 10px 0;
}

.mypanel .card {
  width: 60%;
  margin: auto;
  background-color: @color-panel;
  color: @text-panel;
}

.mypanel .card .card-content {
  text-align: center;
  padding: 5px;
}

.mypanel .card .card-content .card-title{
  font-weight: bold;
  font-size: 1.2rem;
}
