.apanel .bpanel .cpanel .card-action a{
  color: @menu-color;
}

.apanel {
}

.apanel .bpanel .cpanel .col {
  padding: 0;
}

.mypanel .card {
  width: 80%;
  margin: 0 auto;
  border-color: @color-group;
  border-style: solid;
}

.mypanel .card .card-content {
  text-align: center;
}

.mypanel .card .card-content .card-title{
  font-weight: bold;
}
